*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding-inline: 0;
}
.button-container{
  width: 5%;
  display: flex;
  justify-content: space-between;

}